In [179]:
import pandas as pd
import json

In [180]:
# Load CSV data directly from the URL with pandas, the options are needed to prevent
# reading of records with key "NA" (Namibia) as NaN
data = pd.read_csv(
    "https://storage.googleapis.com/covid19-open-data/v2/latest/main.csv",
    keep_default_na=False,
    na_values=[""],
)

C:\Users\gusta\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [181]:
# NOTE: We are only downloading the last day of data, but you can download all
# the data at once if you'd like by changing the URL to:
# https://storage.googleapis.com/covid19-open-data/v2/main.csv

In [182]:
# Print a small snippet of the dataset
#print(f"The dataset currently contains {len(data)} records, here is a sample:")
#data.sample(5)

In [186]:
countries = data[data.aggregation_level == 0]
countries = countries.drop(columns=['subregion1_code', 'subregion1_name', 'subregion2_code', 'subregion2_name',])
countries = countries[['key','date','country_name','country_code','new_confirmed','total_confirmed','new_deceased','total_deceased','new_recovered','total_recovered','new_tested','total_tested']]

#countries = countries.locality_name
#countries

df = pd.DataFrame(countries) #.to_json() #.columns
#df.to_json('novapasta/first_json.json')
#df.to_csv('novapasta/first_csv.csv')
df

#print(df.to_csv())

#pd.json_normalize(df)


#countries.tail(5)

,key,date,country_name,country_code,new_confirmed,total_confirmed,new_deceased,total_deceased,new_recovered,total_recovered,new_tested,total_tested
0,AD,2021-04-30,Andorra,AD,38.0,13121.0,0.0,124.0,NaN,NaN,NaN,177079.0
1,AE,2021-04-30,United Arab Emirates,AE,1710.0,516301.0,2.0,1580.0,NaN,NaN,256181.0,40925902.0
2,AF,2021-04-30,Afghanistan,AF,206.0,59576.0,7.0,2618.0,NaN,NaN,NaN,NaN
37,AG,2021-04-30,Antigua and Barbuda,AG,0.0,1232.0,0.0,32.0,NaN,NaN,NaN,NaN
38,AI,2021-04-30,Anguilla,AI,3.0,87.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
22512,YE,2021-04-30,Yemen,YE,43.0,6267.0,9.0,1217.0,NaN,NaN,NaN,NaN
22513,YT,2021-04-30,Mayotte,YT,159.0,20055.0,1.0,170.0,NaN,NaN,NaN,NaN
22514,ZA,2021-04-30,South Africa,ZA,880.0,1577200.0,51.0,54237.0,NaN,NaN,14838.0,10545817.0
22576,ZM,2021-04-30,Zambia,ZM,40.0,91418.0,1.0,1249.0,NaN,NaN,3338.0,1378946.0
22577,ZW,2021-04-30,Zimbabwe,ZW,62.0,38164.0,5.0,1565.0,NaN,NaN,1583.0,481672.0