In [6]:
import pandas as pd
import json

In [7]:
# Load CSV data directly from the URL with pandas, the options are needed to prevent
# reading of records with key "NA" (Namibia) as NaN
data = pd.read_csv(
    "https://storage.googleapis.com/covid19-open-data/v2/latest/main.csv",
    keep_default_na=False,
    na_values=[""],
).set_index('key')

C:\Users\gusta\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9,102) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
# NOTE: We are only downloading the last day of data, but you can download all
# the data at once if you'd like by changing the URL to:
# https://storage.googleapis.com/covid19-open-data/v2/main.csv

In [9]:
# Print a small snippet of the dataset
#print(f"The dataset currently contains {len(data)} records, here is a sample:")
#data.sample(5)

In [10]:
countries = data[data.aggregation_level == 0]
countries = countries.drop(columns=['subregion1_code', 'subregion1_name', 'subregion2_code', 'subregion2_name',])
countries = countries[['date','country_name','country_code','new_confirmed','total_confirmed','new_deceased','total_deceased','new_recovered','total_recovered','new_tested','total_tested']]

#countries = countries.locality_name
#countries

df = pd.DataFrame(countries) #.to_json() #.columns
df.to_json('novapasta/first_json.json')
df.to_csv('novapasta/first_csv.csv')
df

#print(df.to_csv())

#pd.json_normalize(df)


#countries.tail(5)

,date,country_name,country_code,new_confirmed,total_confirmed,new_deceased,total_deceased,new_recovered,total_recovered,new_tested,total_tested
key,,,,,,,,,,,
AD,2021-05-08,Andorra,AD,24.0,13340.0,0.0,127.0,NaN,NaN,NaN,183476.0
AE,2021-05-08,United Arab Emirates,AE,1724.0,530944.0,3.0,1604.0,NaN,NaN,196777.0,45201315.0
AF,2021-05-08,Afghanistan,AF,293.0,61455.0,9.0,2673.0,NaN,NaN,NaN,NaN
AG,2021-05-08,Antigua and Barbuda,AG,0.0,1232.0,0.0,32.0,NaN,NaN,NaN,NaN
AI,2021-05-08,Anguilla,AI,0.0,95.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
YE,2021-05-08,Yemen,YE,12.0,6430.0,5.0,1266.0,NaN,NaN,NaN,NaN
YT,2021-05-08,Mayotte,YT,40.0,20134.0,0.0,170.0,NaN,NaN,NaN,NaN
ZA,2021-05-08,South Africa,ZA,2073.0,1588221.0,46.0,54557.0,NaN,NaN,32577.0,10805804.0
ZM,2021-05-08,Zambia,ZM,45.0,91849.0,1.0,1255.0,NaN,NaN,4765.0,1426687.0
ZW,2021-05-08,Zimbabwe,ZW,30.0,38357.0,0.0,1574.0,NaN,NaN,2822.0,502216.0