In [10]:
import pandas as pd

In [11]:
severe_recovery_days = 12
critical_recovery_days = 15
mild_recovery_days = 7

In [12]:
# Load country-level data for Brasil
data = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v2/BR/main.csv').set_index('date')

In [13]:
# Estimate daily counts per category assuming ratio is constant
data = data[data.index <= '2020-04-28']
data['new_reotrno'] = data['new_confirmed']
data['new_mild'] = data['new_confirmed'] * mild_recovery_days
data['new_severe'] = data['new_confirmed'] * severe_recovery_days
data['new_critical'] = data['new_confirmed'] * critical_recovery_days
data = data[['new_confirmed', 'new_deceased', 'new_mild', 'new_severe', 'new_critical','new_reotrno']]

#for i in data:
#print (dir(i.))
data.tail(10)
#df = pd.DataFrame(data.tail(15))
#df.to_csv('novapasta/new_csv_file.csv')
#df.to_json('novapasta/new_json_file.json')

,new_confirmed,new_deceased,new_mild,new_severe,new_critical,new_reotrno
date,,,,,,
2020-04-19,2055.0,115.0,14385.0,24660.0,30825.0,2055.0
2020-04-20,1927.0,113.0,13489.0,23124.0,28905.0,1927.0
2020-04-21,2498.0,166.0,17486.0,29976.0,37470.0,2498.0
2020-04-22,2678.0,165.0,18746.0,32136.0,40170.0,2678.0
2020-04-23,3735.0,407.0,26145.0,44820.0,56025.0,3735.0
2020-04-24,3503.0,357.0,24521.0,42036.0,52545.0,3503.0
2020-04-25,5514.0,346.0,38598.0,66168.0,82710.0,5514.0
2020-04-26,3379.0,189.0,23653.0,40548.0,50685.0,3379.0
2020-04-27,4613.0,338.0,32291.0,55356.0,69195.0,4613.0
2020-04-28,5385.0,474.0,37695.0,64620.0,80775.0,5385.0