In [11]:
import pandas as pd
import json

In [12]:
# Load CSV data directly from the URL with pandas, the options are needed to prevent
# reading of records with key "NA" (Namibia) as NaN
data = pd.read_csv(
    "https://storage.googleapis.com/covid19-open-data/v2/latest/main.csv",
    keep_default_na=False,
    na_values=[""],
)

C:\Users\gusta\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
# NOTE: We are only downloading the last day of data, but you can download all
# the data at once if you'd like by changing the URL to:
# https://storage.googleapis.com/covid19-open-data/v2/main.csv

In [14]:
# Print a small snippet of the dataset
#print(f"The dataset currently contains {len(data)} records, here is a sample:")
#data.sample(5)

In [15]:
countries = data[data.aggregation_level == 0]
countries = countries.drop(columns=['subregion1_code', 'subregion1_name', 'subregion2_code', 'subregion2_name',])
countries = countries[['date','new_confirmed','total_confirmed','country_name',]]

#countries = countries.locality_name
#countries

df = pd.DataFrame(countries)
df.to_json('novapasta/first_json.json')
df.to_csv('novapasta/first_csv.csv')

countries.tail(5)

             date  new_confirmed  total_confirmed  country_name
22512  2021-04-30           43.0           6267.0         Yemen
22513  2021-04-30          159.0          20055.0       Mayotte
22514  2021-04-30          880.0        1577200.0  South Africa
22576  2021-04-30           40.0          91418.0        Zambia
22577  2021-04-30           62.0          38164.0      Zimbabwe